# pycharm project files
.idea
__pycache__

# bottles
whiskey_bottles/all_bottles

# cifar10
cifar10/batches

# mnist
mnist/mnist_dataset/mnist_test.csv
mnist/mnist_dataset/mnist_train.csv

# weights
weights_json

