# pycharm project files
.idea

# bottles
whiskey_bottles/all_bottles

# cifar10
cifar10/batches

# mnist
mnist/mnist_dataset/mnist_test.csv
mnist/mnist_dataset/mnist_train.csv

# weights
weights_json


__pycache__
whiskey_bottles.py
